---

---

<footer class="footer footer-center p-10 bg-[#900a0a] text-primary-content">
    <aside>
        <img
            src="/logo.webp"
            alt="Logo El Redentor"
            class="w-16 h-auto mb-4 opacity-90"
        />
        <p class="font-bold text-lg">Escuela de Párvulos El Redentor</p>
        <p>Dependiente de la Corporación Iglesia Evangélica Presbiteriana</p>
        <p>Maullín 5404, Antofagasta</p>
        <p class="text-sm mt-4">
            Copyright © 2025 - Todos los derechos reservados
        </p>
    </aside>
</footer>
