---
import Layout from "../components/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import DevelopmentAreas from "../components/DevelopmentAreas.astro";
import SpecialPrograms from "../components/SpecialPrograms.astro";
import Features from "../components/Features.astro";
import AcademicInfo from "../components/AcademicInfo.astro";
import Gallery from "../components/Gallery.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Escuela de Párvulos El Redentor | Matrículas 2026">
	<main class="flex flex-col min-h-screen">
		<Navbar />
		<Hero />
		<DevelopmentAreas />
		<SpecialPrograms />
		<Features />
		<AcademicInfo />
		<Gallery />
		<Contact />
		<Footer />
	</main>
</Layout>
